RewriteEngine On
RewriteBase /sideba-webapp/

Options +FollowSymLinks

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

ErrorDocument 404 http://localhost/sideba-webapp/errors/404.php

RewriteRule ^login$ login.php
RewriteRule ^logout$ logout.php

# User Backup
RewriteRule ^index$ index.php
RewriteRule ^layanan$ index.php?views=layanan
RewriteRule ^layanan/umum$ index.php?views=umum

# Admin
RewriteRule ^admin$ admin.php
RewriteRule ^admin/penduduk$ admin.php?views_admin=penduduk
RewriteRule ^admin/penduduk/create$ admin.php?views_admin=create_penduduk

RewriteRule ^admin/bantuan$ admin.php?views_admin=bantuan
RewriteRule ^admin/bantuan/create$ admin.php?views_admin=create_bantuan

RewriteRule ^admin/vaksin$ admin.php?views_admin=vaksin

RewriteRule ^admin/profile$ admin.php?views_admin=profile
RewriteRule ^admin/profile/password$ admin.php?views_admin=password

RewriteRule ^admin/sktm$ admin.php?views_admin=sktm
RewriteRule ^admin/skkb$ admin.php?views_admin=skkb
RewriteRule ^admin/sku$ admin.php?views_admin=sku

RewriteRule ^admin/cetak_penduduk$ admin.php?views_admin=cetak_penduduk
RewriteRule ^admin/cetak_bantuan$ admin.php?views_admin=cetak_bantuan
RewriteRule ^admin/cetak_vaksin$ admin.php?views_admin=cetak_vaksin

# User
RewriteRule ^user$ user.php

RewriteRule ^user/sktm$ user.php?views_user=sktm
RewriteRule ^user/skkb$ user.php?views_user=skkb
RewriteRule ^user/sku$ user.php?views_user=sku

RewriteRule ^user/cetak_sktm$ user.php?views_user=cetak_sktm
RewriteRule ^user/cetak_skkb$ user.php?views_user=cetak_skkb
RewriteRule ^user/cetak_sku$ user.php?views_user=cetak_sku

RewriteRule ^user/profile$ user.php?views_user=profile
RewriteRule ^user/profile/password$ user.php?views_user=password

RewriteRule ^([A-Za-z0-9-]+)$ index.php?views=$1
RewriteRule ^([A-Za-z0-9-]+)$ admin.php?views_admin=$1

<Files "base_url.php">  
  Order Allow,Deny
  Deny from all
</Files>

<Files "conn.php">  
  Order Allow,Deny
  Deny from all
</Files>

<Files "check_login.php">  
  Order Allow,Deny
  Deny from all
</Files>

# X-XSS-Protection
<IfModule mod_headers.c>
	Header set X-XSS-Protection "1; mode=block"
</IfModule>

Options All -Indexes